name: Deploy Images to GHCR

on:
  push:
    tags:
      - '*'

jobs:
  docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build and push image
        run: |
          docker build . --tag ghcr.io/$GITHUB_REPOSITORY:latest --tag ghcr.io/$GITHUB_REPOSITORY:$GITHUB_REF_NAME
          docker push -a ghcr.io/$GITHUB_REPOSITORY
